In [1]:
# Import dependency
import pandas as pd

In [2]:
# Read in the January 2020 csv files
jan_cb_trip1 = pd.read_csv('Resources/202001-citibike-tripdata_1.csv')
jan_cb_trip2 = pd.read_csv('Resources/202001-citibike-tripdata_2.csv')

# Read in the June 2020 csv files
june_cb_trip1 = pd.read_csv('Resources/202006-citibike-tripdata_1.csv')
june_cb_trip2 = pd.read_csv('Resources/202006-citibike-tripdata_2.csv')

# View and perform a union on the January and June of 2020 citibike trip datasets

### Column details:
Trip Duration (seconds)

Start Time and Date

Stop Time and Date

Start Station Name

End Station Name

Station ID

Station Lat/Long

Bike ID

User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)

Gender (Zero=unknown; 1=male; 2=female)

Year of Birth

In [3]:
# View the January trip one (1) and two (2) datasets
display(jan_cb_trip1.head())
display(jan_cb_trip2.head())

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,157,2020-01-26 18:51:39.4230,2020-01-26 18:54:16.5290,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,3164,Columbus Ave & W 72 St,40.777057,-73.978985,38757,Subscriber,1967,1
1,404,2020-01-26 18:51:41.5880,2020-01-26 18:58:26.4080,252,MacDougal St & Washington Sq,40.732264,-73.998522,496,E 16 St & 5 Ave,40.737262,-73.992390,38782,Subscriber,1967,1
2,645,2020-01-26 18:51:41.7570,2020-01-26 19:02:27.7080,458,11 Ave & W 27 St,40.751396,-74.005226,72,W 52 St & 11 Ave,40.767272,-73.993929,17737,Subscriber,1989,2
3,252,2020-01-26 18:51:42.8170,2020-01-26 18:55:55.6440,485,W 37 St & 5 Ave,40.750380,-73.983390,3641,Broadway & W 25 St,40.742869,-73.989186,41118,Subscriber,1963,1
4,426,2020-01-26 18:51:43.2930,2020-01-26 18:58:49.9280,3414,Bergen St & Flatbush Ave,40.680945,-73.975673,3405,5 St & 6 Ave,40.670484,-73.982090,18632,Subscriber,1981,1

In [4]:
# Get a brief summary of the January trip one (1) datasets
jan_cb_trip1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1000000 non-null  int64
 1   starttime                1000000 non-null  object
 2   stoptime                 1000000 non-null  object
 3   start station id         1000000 non-null  int64
 4   start station name       1000000 non-null  object
 5   start station latitude   1000000 non-null  float64
 6   start station longitude  1000000 non-null  float64
 7   end station id           1000000 non-null  int64
 8   end station name         1000000 non-null  object
 9   end station latitude     1000000 non-null  float64
 10  end station longitude    1000000 non-null  float64
 11  bikeid                   1000000 non-null  int64
 12  usertype                 1000000 non-null  object
 13  birth year               1000000 non-null  int64
 14  gender                   1000000 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 114.4+ MB

In [5]:
# Get a brief summary of the January trip two (2) dataset
jan_cb_trip2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240596 entries, 0 to 240595
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             240596 non-null  int64
 1   starttime                240596 non-null  object
 2   stoptime                 240596 non-null  object
 3   start station id         240596 non-null  int64
 4   start station name       240596 non-null  object
 5   start station latitude   240596 non-null  float64
 6   start station longitude  240596 non-null  float64
 7   end station id           240596 non-null  int64
 8   end station name         240596 non-null  object
 9   end station latitude     240596 non-null  float64
 10  end station longitude    240596 non-null  float64
 11  bikeid                   240596 non-null  int64
 12  usertype                 240596 non-null  object
 13  birth year               240596 non-null  int64
 14  gender                   240596 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 27.5+ MB

In [6]:
# View the June trip one (1) and two (2) datasets
display(june_cb_trip1.head())
display(june_cb_trip2.head())

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,708,2020-06-18 07:47:29.2600,2020-06-18 07:59:17.7100,3148,E 84 St & 1 Ave,40.775655,-73.950686,3136,5 Ave & E 63 St,40.766368,-73.971518,29163,Subscriber,1982,2
1,1335,2020-06-18 07:47:29.3740,2020-06-18 08:09:44.6150,350,Clinton St & Grand St,40.715595,-73.987030,3687,E 33 St & 1 Ave,40.743227,-73.974498,38306,Subscriber,1959,1
2,1966,2020-06-18 07:47:29.9450,2020-06-18 08:20:15.9500,3379,E 103 St & Lexington Ave,40.790305,-73.947558,3541,Amsterdam Ave & W 125 St,40.813358,-73.956461,42620,Subscriber,1976,2
3,3668,2020-06-18 07:47:30.4160,2020-06-18 08:48:39.0270,3963,Melrose Ave & E 150 St,40.816827,-73.917338,3963,Melrose Ave & E 150 St,40.816827,-73.917338,36121,Subscriber,1987,2
4,1420,2020-06-18 07:47:31.9530,2020-06-18 08:11:12.1410,3995,5 Ave & E 135 St,40.812191,-73.937838,3378,E 76 St & Park Ave,40.773763,-73.962221,43689,Subscriber,1988,1

In [7]:
# Get a brief summary of the June trip one (1) dataset
june_cb_trip1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1000000 non-null  int64
 1   starttime                1000000 non-null  object
 2   stoptime                 1000000 non-null  object
 3   start station id         1000000 non-null  int64
 4   start station name       1000000 non-null  object
 5   start station latitude   1000000 non-null  float64
 6   start station longitude  1000000 non-null  float64
 7   end station id           1000000 non-null  int64
 8   end station name         1000000 non-null  object
 9   end station latitude     1000000 non-null  float64
 10  end station longitude    1000000 non-null  float64
 11  bikeid                   1000000 non-null  int64
 12  usertype                 1000000 non-null  object
 13  birth year               1000000 non-null  int64
 14  gender                   1000000 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 114.4+ MB

In [8]:
# Get a brief summary of the June trip two (2) dataset
june_cb_trip2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882273 entries, 0 to 882272
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             882273 non-null  int64
 1   starttime                882273 non-null  object
 2   stoptime                 882273 non-null  object
 3   start station id         882273 non-null  int64
 4   start station name       882273 non-null  object
 5   start station latitude   882273 non-null  float64
 6   start station longitude  882273 non-null  float64
 7   end station id           882273 non-null  int64
 8   end station name         882273 non-null  object
 9   end station latitude     882273 non-null  float64
 10  end station longitude    882273 non-null  float64
 11  bikeid                   882273 non-null  int64
 12  usertype                 882273 non-null  object
 13  birth year               882273 non-null  int64
 14  gender                   882273 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 101.0+ MB

In [9]:
# Perform a union of ALL the January and June cititrip datasets along the rows axis
merged_df = pd.concat([jan_cb_trip1,jan_cb_trip2, june_cb_trip1, june_cb_trip2], ignore_index=True)
display(merged_df.head())
display(merged_df.tail())

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
3122864,685,2020-06-30 23:59:41.1160,2020-07-01 00:11:06.7790,503,E 20 St & Park Ave,40.738274,-73.987520,3746,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,1993,2
3122865,446,2020-06-30 23:59:46.4260,2020-07-01 00:07:13.0860,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,1969,0
3122866,439,2020-06-30 23:59:47.4770,2020-07-01 00:07:06.5590,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,1986,1
3122867,890,2020-06-30 23:59:53.3950,2020-07-01 00:14:43.4270,3852,Stewart Ave & Johnson Ave,40.708690,-73.925870,3054,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,1994,1
3122868,433,2020-06-30 23:59:53.9010,2020-07-01 00:07:07.0950,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,261,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,1990,1

In [10]:
# Get a brief summary of the combined January and June 2020 citibike trip dataset
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3122869 entries, 0 to 3122868
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 357.4+ MB

In [11]:
# Replacing the 0/1/2 values in the gender column to unknown, male and female
columns_to_replace = ['gender']

# Replace values in specified columns
for column in columns_to_replace:
    merged_df[column] = merged_df[column].replace({0: 'unknown', 1: 'male', 2: 'female'})

merged_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,male
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,male
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,male
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,male
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,male

# Export the combined January dataset as csv

In [12]:
# Export the combined January dataset as CSV file
merged_df.to_csv('Merged_CitiBike_Data/merged_trips.csv', index=False)